################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fretefy/v16
/.vs/slnx.sqlite
/.vs/
