<div class="form-container">
    <div class="form-header">
        <h2>Cadastro de região</h2>
    </div>

    <form [formGroup]="regiaoForm">
        <label for="nome">Nome da região *</label>
        <input formControlName="nome" type="text" id="nome" placeholder="Digite o nome da região" />

        <h3 style="margin-top: 20px;">Locais da região</h3>
        <div id="cityList" formArrayName="cidades">
            <div *ngFor="let cidade of cidades.controls; let i = index;">
                <div class="city-group" [formGroupName]="i" [value]="cidade.get('id').value">
                    <label>Cidade</label>
                    <app-cidade-select formControlName="id"></app-cidade-select> 
                    <!-- <select formControlName="id">
                        <option [selected]="cidade.get('id').value == null" value="">Selecione</option>
                        <option *ngFor="let c of listaCidades; let i = index;" [value]="c.id">{{c.nome}}</option>                       
                    </select> -->
                    <button *ngIf="i > 0" type="button" class="remove-btn" (click)="removerCidade(i)">×</button>
                </div>
            </div>
        </div>

        <div *ngIf="erroAoAddCidade" id="error-message-add-city" class="error-message">
            {{erroAoAddCidade}}
        </div>

        <button type="button" class="add-btn" (click)="addCidadeFormGroup()">➕ Adicionar Cidade</button>

        <div *ngIf="erroAoSalvar" id="error-message" class="error-message">
            {{erroAoSalvar}}
        </div>

        <div class="form-footer">
            <button type="button" class="cancel-btn" (click)="cancelar()">Cancelar</button>
            <button type="button" class="save-btn" (click)="salvar()">Salvar</button>
        </div>
    </form>
</div>